
:root {
  --square-size: 60px;
  --square-border-size: 2px;
  --large-font-size: calc(var(--square-size) / 2.5);
  --medium-font-size: calc(var(--square-size) / 4);
  --small-font-size: calc(var(--square-size) / 6);
}

.topComment {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--small-font-size);
  color: black;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: calc(var(--square-size) * 11); /* 11 cases * 60px chaque */
  height: calc(var(--square-size) * 11); /* Même hauteur que largeur */
  margin: 0 auto;
  position: relative;
  background-color: black;
}

.game-square {
  position: relative;
  width: calc(var(--square-size) - var(--square-border-size));
  height: calc(var(--square-size) - var(--square-border-size));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--medium-font-size);
  font-weight: bold;
  color: black;
  border: 1px solid white; /* Juste pour visualiser les cases */
}


/* Le centre du plateau */
#center-piece {
  grid-column: 4/11;
  grid-row: 4/11;
  z-index: 10;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--large-font-size);
  text-align: center;
  width: calc(var(--square-size) * 5); /* 5 cases * 60px chaque */
  height: calc(var(--square-size) * 5); /* 5 cases * 60px chaque */
}

/* Rotation du texte pour le titre */
#center-piece {
  transform: rotate(0deg);
}