:root {
  --square-size-landscape: 8vh; /* 8% de la hauteur de l'écran en mode paysage */
  --square-size-portrait: 8vw; /* 8% de la largeur de l'écran en mode portrait */
  --square-border-size: 2px;
  --large-font-size: calc(var(--square-size) / 2.5);
  --medium-font-size: calc(var(--square-size) / 4);
  --small-font-size: calc(var(--square-size) / 6);
}

/* Pour le mode paysage */
@media screen and (orientation: landscape) {
  :root {
    --square-size: var(--square-size-landscape);
    --flex-direction: row;
  }
}

/* Pour le mode portrait */
@media screen and (orientation: portrait) {
  :root {
    --square-size: var(--square-size-portrait);
    --flex-direction: column;
  }
}

body {
  display: flex;
  flex-direction: var(--flex-direction);
  align-items: center; /* Centrer horizontalement */
  justify-content: center; /* Centrer verticalement */
}

#qr-code {
  width: 200px; /* Ajustez la taille du code QR selon vos besoins */
  height: 200px;
}

.topComment {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--small-font-size);
  color: black;
}

#game-board-border {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  width: calc(var(--square-size) * 12); /* 11 cases * 60px chaque */
  height: calc(var(--square-size) * 12); /* Même hauteur que largeur */
  margin: 0 auto;
  background-color: black;
  border: 1px solid white; /* Juste pour visualiser les cases */
  border-radius: 5px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: calc(var(--square-size) * 11); /* 11 cases * 60px chaque */
  height: calc(var(--square-size) * 11); /* Même hauteur que largeur */
  margin: 0 auto;
  position: relative;
  background-color: black;
}

.game-square {
  position: relative;
  width: calc(var(--square-size) - var(--square-border-size));
  height: calc(var(--square-size) - var(--square-border-size));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--medium-font-size);
  font-weight: bold;
  color: black;
  border: 1px solid white; /* Juste pour visualiser les cases */
}

/* Le centre du plateau */
#center-piece {
  grid-column: 4/11;
  grid-row: 4/11;
  z-index: 10;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--large-font-size);
  text-align: center;
  width: calc(var(--square-size) * 5); /* 5 cases * 60px chaque */
  height: calc(var(--square-size) * 5); /* 5 cases * 60px chaque */
}

/* Rotation du texte pour le titre */
#center-piece {
  transform: rotate(0deg);
}
