
:root {
  --square-size: 6px;
  --square-border-size: 2px;
  --large-font-size: calc(var(--square-size) / 2.5);
  --medium-font-size: calc(var(--square-size) / 4);
  --small-font-size: calc(var(--square-size) / 6);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: calc(var(--square-size) * 11); /* 11 cases * 60px chaque */
  height: calc(var(--square-size) * 11); /* Même hauteur que largeur */
  margin: 0 auto;
  position: absolute; /* Positionnement absolu pour sortir du flux normal du document */
  z-index: 2; /* S'assure que game-board est au-dessus des autres éléments */
}

.game-square {
  position: relative;
  width: calc(var(--square-size) - var(--square-border-size));
  height: calc(var(--square-size) - var(--square-border-size));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--medium-font-size);
  font-weight: bold;
  border: 1px solid black; /* Juste pour visualiser les cases */
}

