#container {
  text-align: center;
  margin-top: 50px;
}

#card {
  width: 300px;
  border: 2px solid black;
  border-radius: 2px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.Title {
  font-size: xx-large;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 2px;
}

.category {
  font-size: small;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 5px;
  border-radius: 2px;
}

.category-content {
  font-size: medium;
  margin-left: 5px;
  font-weight: 700;
  transition: filter 0.5s ease; /* Ajoute une transition pour une animation fluide */
}

.blur {
  filter: blur(5px); /* Applique un flou */
}

.mask-text {
  /* Cache le texte d'origine */
  color: transparent;
  text-shadow: 0 0 0 #000;
  font-size: 0;

  /* Ajoute les astérisques via le contenu généré */
  &:after {
    content: "******************";
    font-size: 16px; /* Adaptez la taille de la police au besoin */
    color: black; /* Couleur des astérisques */
  }
}

button {
  margin-top: 20px;
}