:root {
  --square-size-mini: 8px;
}

#game-board-mini {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(11, var(--square-size-mini));
  grid-template-rows: repeat(11, var(--square-size-mini));
  width: calc(var(--square-size-mini) * 11);
  height: calc(var(--square-size-mini) * 11);
  margin: 0 auto;
}

.game-square-mini {
  display: block;
  width: calc(var(--square-size-mini) - 1px);
  height: calc(var(--square-size-mini) - 1px);
  border: 1px solid rgba(20, 21, 26, 0.48);
}
