:root {
    --yellow-color: #fff200;
    --blue-color: #6780c0;
    --orange-color: #efae57;
    --green-color: #2bb673;
    --red-color: #f1592a;
    --black-color: black;
  }
  

/* Styles spécifiques pour les couleurs */
.red { background-color: var(--red-color); }
.blue { background-color: var(--blue-color);  }
.green { background-color: var(--green-color); }
.yellow { background-color: var(--yellow-color); }
.orange { background-color: var(--orange-color); }
.black { background-color: var(--black-color); }